.App {
  background-color: white;
  height: 100%;
  min-height: 100vh;
  color: black;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 10%;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
