.tasklist {
  padding: 5%;
  background-color: #8ba6ac;
  border-radius: 10px;
  margin: 5%;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tasklist .title {
  padding: 5% 0% 0% 0%;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.tasklist .content {
  padding: 16px 4px 8px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasklist .content .empty-list {
  text-align: center;
  border: 2px dashed #bdcdd0;
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 5%;
  width: 100%;
  font-size: 16px;
}

.tasklist .btn img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.adicionar {
  border-radius: 15px;
  width: 80%;
  padding: 4% 2%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  cursor: pointer;
  background-color: #f8f8ec;
  font-size: 16px;
  color: #8ba6ac;

  font-family: 'Poppins', sans-serif;
}

input[type="text" i] {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  margin-bottom: 5%;
  width: 100%;
  padding: 10px 10px;
  color: #8ba6ac;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.img-adi {
padding-left: 10px;
width: 30px;
vertical-align: middle;
}